---
title: Collection of biometric data during Face Verification
permalink: /using-singpass/setting-up-singpass-app/data-collection-during-setup/
variant: tiptap
description: ""
third_nav_title: Set up Singpass app
---
<h3>Does Singpass collect biometric data during the use of Singpass Face Verification?</h3>
<p>Yes. Your facial data is collected and used for purposes such as authenticating
your identity and improving Singpass Face Verification.</p>
<p>Unless prohibited by law, facial data may be:</p>
<ul data-tight="true" class="tight">
<li>
<p>captured by relying parties approved by us to use Singpass Face Verification;</p>
</li>
<li>
<p>shared with our service providers in connection with the provision of
Singpass Face Verification to you; or</p>
</li>
<li>
<p>shared with government agencies to serve you in the most efficient and
effective way or for the discharge of public functions.</p>
</li>
</ul>
<p>Facial data is retained to analyse and improve Singpass Face Verification.
This data retained is encrypted when stored and protected with tamper-evident
logging. We delete data that is no longer required, unless we are legally
required to retain such data.</p>