---
title: How to use Singpass Face Verification
permalink: /security/singpass-face-verification/how-to-sfv/
variant: tiptap
description: ""
third_nav_title: Singpass Face Verification
---
