---
title: Alternatives to Singpass Face Verification
permalink: /security/singpass-face-verification/sfv-alternatives/
variant: tiptap
description: ""
third_nav_title: Singpass Face Verification
---
<h3>What are my alternatives if I do not own a device with a front-facing camera to perform Singpass Face Verification?</h3>
<p>Please contact the Singpass Helpdesk at <a href="tel:+6563353533" rel="noopener noreferrer nofollow" target="_blank">6335 3533</a> between 9am and 6pm.</p>
<p>Alternatively, please visit an agency’s kiosk enabled with Singpass Face
Verification (e.g. <a href="https://www.cpf.gov.sg/member/contact-us/visit-us" rel="noopener" target="_blank"><u>CPF Service Centres,</u></a>&nbsp;
<a href="https://www.iras.gov.sg/contact-us/locate-us" rel="noopener" target="_blank"><u>IRAS Taxpayer and Business Service Centre</u>
</a>and <a href="https://www.psd.gov.sg/servicesg/" rel="noopener" target="_blank"><u>ServiceSG Centres</u></a> Our
Tampines Hub, One Punggol, Frontier CC, Nee Soon CC, Kampong Chai Chee
CC, Keat Hong CC and Bukit Canberra.</p>