---
title: Unable to be physically present for verification
permalink: /general-info/family-or-trusted-care-usage/unable-to-be-physically-present/
variant: tiptap
description: ""
third_nav_title: Family (multi user) usage
---
<h3>What if one of the parties is unable to be physically present at the counter to verify their identities?</h3>
<p>The arrangement of having both parties present to verify their identities
is necessary to safeguard the interest of our users and to avoid any potential
misuse.
<br>
<br>If you have difficulties in being present physically, please contact the
Singpass Helpdesk at <a href="mailto:support@singpass.gov.sg" rel="noopener noreferrer nofollow" target="_blank"><u>support@singpass.gov.sg</u></a> or
<a href="tel:+6563353533" rel="noopener noreferrer nofollow" target="_blank">+65 6335 3533</a>. The Helpdesk will assist in conducting a video call
with both parties as part of the required verification process.</p>