---
title: Collection of biometric data during Face Verification
permalink: /using-singpass/setting-up-singpass-app/data-collection-during-setup/
variant: tiptap
description: ""
third_nav_title: Setting up Singpass app
---
