---
title: Difficulty to be physically present at counter for verification
permalink: /general-info/family-or-trusted-care-usage/difficulty-to-be-physically-present/
variant: tiptap
description: ""
third_nav_title: Family or trusted care usage
---
